<p>Here is what your friends are saying:</p>

<div>
	<% @following_chirps.each do |chirp| %>
		<%= render 'layouts/show_chirp', chirp: chirp %>
	<% end %>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
	<%= link_to "Chirp Something!", new_chirp_path, class: "btn btn-primary btn-lg btn-block" %>
	</div>
</nav>