<div class="panel panel-default">
	<div class="panel-heading">
		<%= render 'user_badge', user: @user %>
	</div>
	<div class="panel-body">
	<% @user.chirps.each do |chirp| %>
		<div class="well">
			<%= render 'layouts/show_chirp', chirp: chirp %>
		</div>
	<% end %>
	</div>
</div>
