<div class="panel panel-info">
	<div class="panel-heading">
		<%= render 'user_badge', user: @user %>
	</div>
	<div class="panel-body">
	<% @user.chirps.each do |chirp| %>
		<%= render 'layouts/show_chirp', chirp: chirp %>
	<% end %>
	</div>
</div>
